@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    @apply bg-gray-100 text-dark-backgroundColor transition-all;
  }
  .dark {
    @apply bg-gray-900 text-white;
  }

  main {
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 400;
  }

  h1 {
    font-family: "Montserrat", sans-serif;
  }

  #star-container {
    display: flex;
    align-items: center;
    color: #000000;
  }

  #raiz {
    background-color: rgba(255, 255, 255, 0.383);
    border: 1px solid #6b6b6b8f;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    font-size: 13px;
  }

  #h2 {
    font-size: 13px;
  }
}

html {
  -webkit-tap-highlight-color: transparent;
}

canvas {
  z-index: 200;
}

.roll-animation {
  animation: 3s anim-rol ease;
}

@keyframes anim-rol {
  0% {
    opacity: 0;
    transform: rotateX(90def);
  }
  50% {
    opacity: 1;
    transform: rotateX(720deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(720deg);
  }
}
